@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital@0;1&family=Caveat&family=Caveat+Brush&family=Coustard&display=swap");
:root {
  /* Colors */
  --brown: #a21f09;

  /* Fonts */
  --font-bold: 700;

  --font-petite: 17px;
  --font-medium: 32px;
  --font-title: 50px;

  --font-button: 15px;

  --family-title: "Caveat", cursive;
  --family-main: "Averia Libre italic", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
}
body {
  background-image: url(/assets/body/background-cat07.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: 19rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(0, 26, 255); */
}

/*  ================== HEADER ==================*/

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
  padding-left: 30px;
  background: linear-gradient(
    to bottom,
    rgba(243, 174, 186, 0.822),
    rgba(88, 6, 99, 0.11)
  );
}

header img {
  height: auto;
  width: 40px;
  /* padding: 10px 10px; */
}

/*  ================== SIGN UP ==================*/

#signup {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 90vh;
}

#signup h2 {
  font-size: var(--font-title);
  font-family: var(--family-title);
}

.signup__container {
  /* border: 2px solid rgb(33, 18, 238); */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 20px;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(243, 174, 186, 0.822),
    rgba(88, 6, 99, 0.11)
  );
}

.signup__info {
  /* border: 1px solid rgb(15, 228, 33); */
  font-size: var(--font-petite);
  font-family: var(--family-main);
  display: flex;
  flex-direction: column;

  gap: 30px;
  width: 500px;
}

.remember {
  width: 350px;
}

.signup__button {
  background-color: pink;
  padding: 5px 25px;
  border-radius: 20px;
  border: 1px solid rgba(153, 60, 153, 0.493);
  font-size: var(--font-button);
  font-family: var(--family-main);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-family: var(--family-main);
}

.signup__login {
  color: black;
  text-align: center;
  text-decoration: underline;
}
