@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital@0;1&family=Caveat&family=Caveat+Brush&family=Coustard&display=swap");
:root {
  /* Colors */
  --brown: #a21f09;

  /* Fonts */
  --font-bold: 700;

  --font-petite: 17px;
  --font-medium: 32px;
  --font-title: 48px;
  --font-btn: 18px;

  --family-title: "Caveat", cursive;
  --family-main: "Averia Libre italic", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
}
body {
  background-image: url(/assets/body/background-cat07.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: 19rem;
  /* background-color: #260f0f; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(0, 26, 255); */
}
/*  ================== HEADER ==================*/

header {
  /* background: var(--secondary); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  /* position: fixed; */
  width: 100%;
  height: 65px;
  background: linear-gradient(
    to bottom,
    rgba(243, 174, 186, 0.822),
    rgba(88, 6, 99, 0)
  );
  /* border: 2px solid red; */
}

.logo {
  /* border: 1px solid red; */
  height: auto;
  width: 40px;
}

.navbar,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--family-main);
  font-size: var(--font-petite);
  /* font-weight: 600; */
}

.navbar {
  gap: 10rem;
}

.navbar__list {
  gap: 30px;
}

.navbar__list a {
  color: black;
  /* font-size: var(--font-sm); */
}

/* .navbar-list li:first-child > a {
  font-weight: var(--font-semibold);
  color: var(--text-white);
} */

.navbar__cart-label--cart-icon {
  height: 20px;
  cursor: pointer;
}

/*  ================== HERO ==================*/

#hero {
  /* border: 1px solid rgb(5, 206, 241); */
  margin-top: 60px;
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  );
  border-radius: 170px;
}

.hero__info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 30px;
  color: #000000;
  padding: 0px 30px;
}

/* .hero__btn {
  font-size: var(--font-petite);
  color: black;
  background-color: rgb(167, 134, 197);
  padding: 8px 30px;
  border-radius: 30px;
  font-family: var(--family-main);
} */

.btn {
  font-size: var(--font-petite);
  color: black;
  background-color: rgb(167, 134, 197);
  padding: 8px 30px;
  border-radius: 30px;
  font-family: var(--family-main);
}

.hero__info h2 {
  font-size: var(--font-title);
  font-family: var(--family-title);
}

.hero__info p {
  font-size: var(--font-petite);
  font-family: var(--family-main);
}

.hero__img {
  /* border: 1px solid rgb(196, 228, 13); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}

/*  ================== ABOUT ==================*/
#about {
  /* border: 2px solid red; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}

.about__info h2 {
  font-family: var(--family-title);
  font-size: var(--font-title);
  padding-bottom: 25px;
}
.about__info {
  font-size: var(--font-petite);
  font-family: var(--family-main);
  /* border: 2px solid violet; */
  width: 80%;
  text-align: center;
  gap: 20px;
}

.about__btn {
  /* border: 1000x solid blue; */
  /* background-color: #a21f09; */
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0px;
}

/*  ================== CATALOG ==================*/
#catalog h2 {
  font-size: var(--font-title);
  font-family: var(--family-title);
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  padding-top: 30px;
  /* border: 2px solid violet; */
}

.catalog__games {
  /* border: 1px solid red; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  margin: 40px 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  );
  border-radius: 10px;
  gap: 10px;
}

/* .catalog__img {
  height: fit-content;
  width: 100%;
} */

.catalog__info {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  height: 215px;
  font-family: var(--family-main);
}

.catalog__info h3 {
  font-size: var(--font-medium);
  font-family: var(--family-title);
}

.catalog__price {
  /* border: 1px solid blue; */
  max-width: 1000000px;
  display: flex;
  font-size: var(--font-btn);
  justify-content: space-between;
}

.catalog__price a {
  /* border: 1px solid blue; */
  border-radius: 50px;
  color: black;
  background-color: rgb(235, 154, 167);
  /* background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  ); */
  padding: 0px 20px;
}
