@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital@0;1&family=Caveat&family=Caveat+Brush&family=Coustard&display=swap");
:root {
  /* Colors */
  --brown: #a21f09;

  /* Fonts */
  --font-bold: 700;

  --font-petite: 17px;
  --font-medium: 32px;
  --font-title: 48px;

  --font-price: 18px;

  --family-title: "Caveat", cursive;
  --family-main: "Averia Libre italic", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
}
body {
  background-image: url(/assets/body/background-cat07.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: 19rem;
  /* width: 100%; */
  /* background-color: #260f0f; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(0, 26, 255); */
}

html {
  scroll-behavior: smooth;
}

/*  ================== HEADER ==================*/

#menu-toggle,
.header__menu {
  display: none;
}

header {
  /* background: var(--secondary); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  /* position: fixed; */
  width: 100%;
  height: 65px;
  background: linear-gradient(
    to bottom,
    rgba(243, 174, 186, 0.822),
    rgba(88, 6, 99, 0.11)
  );
  /* border: 2px solid red; */
  position: fixed;
}

.logo {
  /* border: 1px solid red; */
  height: auto;
  width: 40px;
}

.navbar,
.navbar__list {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--family-main);
  font-size: var(--font-petite);
  /* font-weight: 600; */
}

.navbar {
  gap: 60px;
}

.navbar__list {
  gap: 30px;
}

.navbar__items {
  /* border: 2px solid red; */
  color: black;
}

.navbar__items--colored {
  border: 2px solid black;
  /* background-color: pink; */
  border-radius: 15px;
  padding: 1px 5px;
  color: black;
}

/*  ================== CART ==================*/
#cart-toggle {
  display: none;
}

#cart-toggle:checked ~ .cart {
  display: flex;
}

.navbar__cart-toggle--cart-icon {
  height: 20px;
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 65px;
  right: 0px;
  /* background: rgba(243, 174, 186, 0.822); */
  background: linear-gradient(
    to top,
    rgba(243, 174, 186, 0.89),
    rgba(141, 72, 150, 0.137)
  );
  border: 1px solid black;
  /* height: calc(65vh - 105px); */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  display: none;
  border-top: 0;
  z-index: 2;
}

.cart h2 {
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.cart__items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  /* border: 1px solid red; */
  /* background: linear-gradient(
    to bottom,
    rgba(212, 127, 142, 0.952),
    rgba(88, 6, 99, 0.24)
  ); */
  background: rgba(235, 140, 156, 0.822);
  /* border-radius: 170px; */
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 1px solid rgba(153, 60, 153, 0.493);
}

.cart__info {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 190px;
  gap: 0px;
  /* border: 2px solid red; */

  /* justify-content: space-between; */
}

.cart__info p {
  font-family: var(--family-main);
  /* color: wheat; */
}

.cart__info span {
  font-size: 15px;
  /* cursor: pointer; */
  /* text-decoration: underline; */
}

.cart__info--delete {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 2px solid red; */
  /* padding: 0px 20px; */
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.cart__total {
  border-top: black solid 1px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding: 20px 5px;
}

.cart__total--button {
  background-color: rgb(247, 158, 173);
  border-radius: 80px;
  font-size: var(--font-petite);
  font-family: var(--family-main);
  /* max-width: 150px; */
}

/*  ================== BLUR ==================*/
.blurry {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 65px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba rgba(30, 30, 30, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7px);
  display: none;
  z-index: 1;
}

#cart-toggle:checked ~ .blurry,
#menu-toggle:checked ~ .blurry {
  display: block;
}

/*  ================== HERO ==================*/

#hero {
  /* border: 1px solid rgb(5, 206, 241); */
  margin-top: 60px;
  padding: 60px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  );
  border-radius: 170px;
  margin-top: 100px;
}

.hero__info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 30px;
  color: #000000;
  padding: 0px 30px;
}

/* .hero__btn {
  font-size: var(--font-petite);
  color: black;
  background-color: rgb(167, 134, 197);
  padding: 8px 30px;
  border-radius: 30px;
  font-family: var(--family-main);
} */

.btn {
  font-size: var(--font-petite);
  color: black;
  background-color: pink;
  padding: 8px 30px;
  border-radius: 30px;
  border: 1px solid black;
  font-family: var(--family-main);
}

.hero__info h2 {
  font-size: var(--font-title);
  font-family: var(--family-title);
}

.hero__info p {
  font-size: var(--font-petite);
  font-family: var(--family-main);
}

.hero__img {
  /* border: 1px solid rgb(196, 228, 13); */
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}

/*  ================== ABOUT ==================*/
#about {
  /* border: 2px solid red; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 100px 0px;
}

.about__info h2 {
  font-family: var(--family-title);
  font-size: var(--font-title);
  padding: 30px;
  /* border: 1px solid red; */
}
.about__info {
  font-size: var(--font-petite);
  font-family: var(--family-main);
  /* border: 2px solid rgb(248, 0, 0); */
  width: 80%;
  text-align: center;
  gap: 20px;
}

.about__info--list {
  /* border: 2px solid rgb(248, 0, 0); */
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.about__info--list span {
  font-weight: var(--font-bold);
}

.about__img {
  display: flex;
  justify-content: center;
}

.about__img img {
  width: 30px;
  height: auto;
}

/*  ================== CATALOG ==================*/
#catalog {
  /* margin-top: 60px; */
  padding: 70px 0px;
}

#catalog h2 {
  font-size: var(--font-title);
  font-family: var(--family-title);
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  /* padding-top: 20px; */
  /* margin-top: 60px; */
  /* border: 2px solid violet; */
  padding-bottom: 30px;
}

.catalog__games {
  /* border: 1px solid red; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
  margin: 40px 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  );
  border-radius: 10px;
  gap: 10px;
}

/* .catalog__img {
  height: fit-content;
  width: 100%;
} */

.catalog__info {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  height: 215px;
  font-family: var(--family-main);
}

.catalog__info h3 {
  font-size: var(--font-medium);
  font-family: var(--family-title);
}

.catalog__info span {
  font-weight: var(--font-bold);
}

.catalog__price {
  /* border: 1px solid blue; */
  /* max-width: 1000000px; */
  display: flex;
  /* font-size: var(--font-btn); */
  font-size: var(--font-price);
  justify-content: space-between;
}

.catalog__price--btn {
  /* border: 1px solid blue; */
  font-size: var(--font-btn);
  font-family: var(--family-main);
  border-radius: 50px;
  color: black;
  background-color: rgb(235, 154, 167);
  /* background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.952),
    rgba(88, 6, 99, 0.24)
  ); */
  padding: 0px 20px;
  cursor: pointer;
}

/*  ================== CONTACT ==================*/

#contact {
  /* border: 2px solid red; */
  padding: 40px 0px;
  width: 1200px;
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  /* color: var(--brown); */
  font-family: var(--family-title);
  font-size: var(--font-title);
  display: flex;
}

.contact__data {
  /* border: 2px solid rgb(184, 13, 13); */
  font-size: var(--font-petite);
  font-family: var(--family-main);
  color: black;
  padding: 3px 0px;
}

.contact__info--name {
  /* border: 2px solid red; */
  font-weight: var(--font-bold);
  font-family: var(--family-main);
  font-size: var(--font-petite);
}

.contact__info {
  /* border: 2px solid rgb(8, 186, 240); */
  padding: 50px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.contact__social {
  /* border: 2px solid rgb(8, 186, 240); */
  display: flex;
  gap: 30px;
}

.contact__social img {
  width: 40px;
}

/*  ================== FOOTER ==================*/
footer {
  /* border: 2px solid rgb(8, 186, 240); */

  /* background-color: var(--brown); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 0px 20px 0px;
  /* max-width: 1200px; */
  /* width: 100%; */
}

footer img {
  height: 150px;
  /* width: 50px; */
}

footer p {
  font-size: var(--font-petite);
  font-family: var(--family-main);
}
